<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="preload"
        href="/assets/fonts/Montserrt-Regular.ttf"
        as="font"
        type="font/truetype"
        crossOrigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <header class="site-header">
        <div class="wrapper">
            <div class="site-header__inner">
                <a class="site-header__brand" href="/">Daryl Carr</a>
                <nav class="nav" aria-label="primary">
                    <ul class="nav__list" role="list">
                        {% for item in navigation.items %}
                        <li>
                            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }} >{{ item.text }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>            
            </div>
        </div>
    </header>
    <main id="main-content" tabindex="-1">
        {% block content %}{% endblock %}
    </main>
    <footer class="site-footer">
        <div class="wrapper">
            <p>&copy; 2021 Daryl Carr</p>
            <nav class="secondary">
                <ul role="list">
                    
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>