{% extends "layouts/base.njk" %}

{% block content %}
    <section class="hero">
        <div class="wrapper">
            <h1 class="hero__title">WEB DEV</h1>
        </div>
    </section>
    <div class="wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, deserunt.</p>
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, magnam assumenda. Facere quibusdam inventore impedit molestias tempora! Deleniti est porro delectus ad error praesentium quisquam. Enim facilis odio earum quia.</p>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sapiente atque eaque repellat nemo optio facilis aliquid laudantium alias deleniti ullam, reiciendis, voluptates perspiciatis, ab esse mollitia.</p>
    </div>
{% endblock content %}