{% extends "layouts/base.njk" %}

{% set pageHeaderTitle = title %}

{% set pageHeaderSummary %}
  <time datetime="{{ createdAt }}">{{ createdAt }}</time>
  {% if tags %}
    <p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
    <ul role="list" class="post__tags-list" aria-describedby="tags-desc">
      {% for tag in tags %}
        <li>
          <a href="/tag/{{ tag | slug }}/">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{% block content %}
  <article class="post">
    <div class="wrapper">
      <img src="{{ heroImageUrl }}" alt="{{ heroImageAlt }}">
        <div class="post__inner">
          <h1>{{ pageHeaderTitle }}</h1>
          {{ pageHeaderSummary | safe }}    
          {{ content | safe }}
        </div>
    </div>
  </article>
{% endblock %}