.nav {
    margin-left: -1rem;
    margin-right: -1rem;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;

        & > * {
            margin-left: .5rem;
            margin-right: .5rem;
        }
        
        a {
            position: relative;
            color: color("text");
            text-align: center;
            display: block;
            padding: .5em;
            text-decoration: none;

            &::before {
                content: '';
                position: absolute;
                bottom: .5rem;
                left: 0;
                display: block;
                height: 1.5em;
                width: 0%;
                transition: width .2s;
                z-index: -1;
            }

            &[aria-current="page"] {
                font-weight: 700;
            }

            &[aria-current="page"]::before {
                background: rgb(color("primary"), 0.4);
                transform: rotate(-3deg);
                width: 100%;
            }

            &:hover:not([aria-current="page"]) {
                transition: transform .5s;
                transform: scale(1.05);
            }

            &:hover:not([aria-current="page"])::before {
                background: rgba(#D9E2EC, 1);
                transform: rotate(-3deg);
                width: 100%;
            }
        }
    }
}