.post-list {
    padding-top: size("700");
    padding-bottom: size("700");

    > li {
        margin-bottom: size("700");
        max-width: 70ch;
    }

    @include media-query("tab-port") {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        column-gap: size("800");
        row-gap: size("800");

        > li {
            margin-bottom: 0;
        }
    }
}