.post-list {
    > li {
        max-width: 70ch;
        & + li {
            margin-bottom: size("700");
        }
    }

    @include media-query("tab-port") {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        column-gap: size("800");
        row-gap: size("800");

        > li {
            margin-bottom: 0;
        }
    }
}