// Colours
$color-yellow: #FFD300;
$color-pink: #FF2079;
$color-purple: #E92EFB;
$color-blue: #440BD4;
$color-blue-dark: #04005E;


$color-neutral-100: #F5F7FA;
$color-neutral-200: #E4E7EB;
$color-neutral-300: #CBD2D9;
$color-neutral-400: #9AA5B1;
$color-neutral-500: #7B8794;
$color-neutral-600: #616E7C;
$color-neutral-700: #52606D;
$color-neutral-800: #3E4C59;
$color-neutral-900: #323F4B;
$color-neutral-1000: #1F2933;

$color-primary: $color-blue;
$color-primary-shade: $color-blue-dark;
$color-secondary: $color-pink;
$color-tertiary: $color-yellow;
$color-text: $color-neutral-1000;
$color-background: $color-neutral-100 !default;

$colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "text": $color-text,
    "background": $color-background,
);

// Size scale
$size-300: 0.75rem !default;
$size-400: 1rem !default;
$size-500: 1.33rem !default;
$size-600: 1.77rem !default;
$size-700: 2.36rem !default;
$size-800: 3.15rem !default;
$size-900: 4.2rem !default;

$sizes: (
    "300": $size-300,
    "400": $size-400,
    "500": $size-500,
    "600": $size-600,
    "700": $size-700,
    "800": $size-800,
    "900": $size-900,
);

// Font styles
$font-family-base: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;
$line-height-body: 1.5;
$line-height-heading: 1.1;

// Misc
$border-radius: 4px !default;

// Breakpoints
$breakpoint-tab-port: 37.5em !default;
$breakpoint-tab-land: 56.25em !default;
$breakpoint-desktop-small: 75em !default;

$breakpoints: (
    "tab-port": $breakpoint-tab-port,
    "tab-land": $breakpoint-tab-land,
    "desktop-smal'": $breakpoint-desktop-small
);

:root {
    @each $key, $color in $colors {
        --color-#{$key}: #{$color};
    }

    --flow-space: #{$size-500};
}

.color-primary {
    color: $color-primary;
}

.color-primary-shade {
    color: $color-primary-shade;
}

.color-secondary {
    color: $color-secondary;
}

.color-tertiary {
    color: $color-tertiary;
}

.color-text {
    color: $color-neutral-1000;
}

.color-background {
    color: $color-neutral-100;
}

.bg-primary {
    background: $color-primary;
}

.bg-primary-shade {
    background: $color-primary-shade;
}

.bg-secondary {
    background: $color-secondary;
}

.bg-tertiary {
    background: $color-tertiary;
}

.bg-text {
    background: $color-neutral-1000;
}

.bg-background {
    background: $color-neutral-100;
}