body {
    line-height: var(--line-height-body);
    font-family: var(--font-family-base, $font-family-base);
}

h1,.h1,
h2,.h2,
h3,.h3 {
    font-family: "Georgia";
    line-height: var(--line-height-heading);
    margin-bottom: .75em;
}

h1,
.h1 {
    line-height: 1.2;
    font-size: var(--size-700, $size-700);

    @include media-query("tab-port") {
        font-size: var(--size-800, $size-800);
    }

    @include media-query("desktop-small") {
        font-size: var(--size-900, $size-900);
    }
}

.h2,
h2 {
    font-size: var(--size-600, $size-600);

    @include media-query("tab-port") {
        font-size: var(--size-700, $size-700);
    }
}

.h3,
h3 {
    font-size: var(--size-500, $size-500);

    @include media-query("tab-port") {
        font-size: var(--size-600, $size-600);
    }
}

p, li {
    font-size: var(--size-5400, $size-400);

    @include media-query("tab-port") {
        font-size: var(--size-500, $size-500);
    }
}

p {
    margin-bottom: .75em;
}