@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: 
        local("Montserrat"), 
        local("Montserrat-Regular"),
        url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: 
        local("Montserrat"), 
        local("Montserrat-Regular"),
        url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-display: swap;
}

@import "helpers";
@import "theme";
@import "reset";
@import "global";

@import "utils/flow";
@import "utils/panel";
@import "utils/visually-hidden";
@import "utils/wrapper";

@import "blocks/post-preview";
@import "blocks/nav";
@import "blocks/signature";
@import "blocks/site-header";
@import "blocks/site-footer";

.posts {
    &__title {
        padding-top: .1em;
        padding-bottom: .1em;
    }

    &__list[role="list"] {
        padding-top: size("500");
    }

    &__link-more {
        display: block;
        margin-top: size("500");
    }
}