@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: 
        local("Montserrat"), 
        local("Montserrat-Regular"),
        url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: 
        local("Montserrat"), 
        local("Montserrat-Regular"),
        url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-display: swap;
}

@import "helpers";
@import "theme";
@import "reset";
@import "global";   
@import "layout";
@import "typography";

@import "utils/wrapper";

@import "blocks/hero";
@import "blocks/post-card";
@import "blocks/post-list";
@import "blocks/nav";
@import "blocks/site-header";
@import "blocks/site-footer";

@import "pages/home.scss";
