@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: 
        local("Montserrat"), 
        local("Montserrat-Regular"),
        url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: 
        local("Montserrat"), 
        local("Montserrat-Regular"),
        url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-display: swap;
}

@import "helpers";
@import "theme";
@import "reset";
@import "global";

@import "utils/flow";
@import "utils/panel";
@import "utils/visually-hidden";
@import "utils/wrapper";

@import "blocks/nav";
@import "blocks/site-header";
@import "blocks/site-footer";

.signature {
    font-family: 'Homemade Apple', cursive;
    font-size: 3rem;
    color: $color-purple-dark;
}
