<article>
    {% if postListHeadline %}
        <header>
            <h2>{{ postListHeadline }}</h2>
        </header>
    {% endif %}
    <ul class="post-list" role="list">
        {% for item in postListItems %}
            <li>
                {% set post = item.data %}
                {% include "partials/post-card.njk" %}
            </li>
        {% endfor %}
    </ul>
</article>
