<article class="post-card">
    <div class="post-card__image-container">
        <img width="1600" height="900" src="{{ post.heroImageUrl }}" alt="{{ post.heroImageAlt }}" />
    </div>
    <div class="post-card__content">
        <h3><a href="/blog/{{ post.slug }}/">{{ post.title }}</a></h3>
        <p>{{ post.summary }}</p>
        {% if post.tags.length > 0%}
            <ul role="list" class="post-card__tag-list">
                {% for tag in post.tags %}
                    <li><a href="/category/{{ tag }}/">{{ tag }}</a></li>
                {% endfor %}
            </ul>     
        {% endif %}
        <span class="post-card__read-time">{{ post.readingTime }} min read</span>
    </div>
</article>